#header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 5vh;
    margin: 2vh;
}

#instructions{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 3vh;
    margin: 2vh;
    text-align: center;
}

#disclaimer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: smaller;
    margin: 2vh;
    margin-left: 5vh;
}

#puzzle-canvas {
    margin: 2vh;
    border-style: solid;
    border-width: 1vh;
    border-radius: 3vh;
}

#goal-canvas {
    margin-left: 2vh;
    margin-right: 2vh;
}

#goal-canvas:hover {
    cursor: pointer;

}

#goal-text {
    margin-top: 5vh;
    margin-right: 2vh;
    margin-left: 2vh;
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif; 

    border-style: solid;
    border-width: 0.2vh;
    border-color: darkgrey;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;

    padding: 1vh;

    max-width: 128px;
}

#timer {
    min-width: 8vh;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

#move-counter {
    min-width: 8vh;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    
}

.box {
    border-style: solid;
    border-width: 0.2vh;
    border-color: darkgrey;
    border-radius: 1vh;

    padding: 1vh;
    margin: 2vh;

    font-family: Arial, Helvetica, sans-serif;

    max-width: 770px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  

.tooltip .tooltiptext {
visibility: hidden;
background-color: grey;
color: #fff;
text-align: center;
padding: 5px;
border-radius: 6px;

font-family: Arial, Helvetica, sans-serif;

width: 120px;
top: 105%;
left: 90%;
margin-left: -18vh;
position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
}

#scoreboard {
    margin: 2vh;
    margin-top: 8vh;
    text-align: center;

    border-style: solid;
    border-width: 0.2vh;
    border-color: darkgrey;
    border-radius: 1vh;

    padding: 1vh;

    font-family: Arial, Helvetica, sans-serif;

   min-width: 150px;
}

.scoreboard-header {
    margin: 1vh;
    margin-bottom: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: 600;
}

.scoreboard-text {
    margin: 1vh;
    margin-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.scoreboard-data {
    margin: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3vh;
}